# Analysing the COVID-19 pandemic in Bosnia and Herzegovina

The analysie will be preformed on a dataset gathered from the <a href="https://www.who.int/">WHO</a> website. The first part of this analysis will be data cleaning, wich is the most important part of data analysis. You know how they say it if the data is not clean we get garbage in and garbage out.

The next part will contain visualizations to get a more understanding picture of the situation so we can preform some statistical methods later. 

After we finished the data cleaning and visualization process will continue on data modeling so we can make predictions in the later part when we will actualy use our data to make predictions on how the situation will improve or not in the future.

When all of this is set and done we will make the conclusion and suggest how things can be done in the future to improve the situation.

## Table of Contetn's

* [Importing the nececery Libraries](#importing-the-nececery-libraries)
* [Data import and exploration](#data-import-and-exploration)

## Importing the nececery Libraries

In [25]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

sns.set()

## Data import and exploration

In [2]:
rawData = pd.read_excel(os.path.join("../dataSet/rawData/", "mbih.xlsx"), engine='openpyxl')

In [3]:
rawData.head()

,Unnamed: 0,date,total_cases,new_cases,population,population_density,median_age,aged_65_older
0,6393,2020-03-05,2,2,3280815,68.496,42.5,16.569
1,6394,2020-03-06,2,0,3280815,68.496,42.5,16.569
2,6395,2020-03-07,3,1,3280815,68.496,42.5,16.569
3,6396,2020-03-08,3,0,3280815,68.496,42.5,16.569
4,6397,2020-03-09,3,0,3280815,68.496,42.5,16.569

In [4]:
rawData.info() # checking the datatype of each column, the null valuse

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          301 non-null    int64
 1   date                301 non-null    object
 2   total_cases         301 non-null    int64
 3   new_cases           301 non-null    int64
 4   population          301 non-null    int64
 5   population_density  301 non-null    float64
 6   median_age          301 non-null    float64
 7   aged_65_older       301 non-null    float64
dtypes: float64(3), int64(4), object(1)
memory usage: 18.9+ KB

In [5]:
rawData.describe() # fast overview of statistical methods for each column

,Unnamed: 0,total_cases,new_cases,population,population_density,median_age,aged_65_older
count,301.000000,301.000000,301.000000,301.0,301.000,301.0,301.000
mean,6543.000000,26374.262458,368.720930,3280815.0,68.496,42.5,16.569
std,87.035433,33015.025192,467.075392,0.0,0.000,0.0,0.000
min,6393.000000,2.000000,0.000000,3280815.0,68.496,42.5,16.569
25%,6468.000000,2321.000000,27.000000,3280815.0,68.496,42.5,16.569
50%,6543.000000,12296.000000,220.000000,3280815.0,68.496,42.5,16.569
75%,6618.000000,32845.000000,453.000000,3280815.0,68.496,42.5,16.569
max,6693.000000,110985.000000,1953.000000,3280815.0,68.496,42.5,16.569

## Data preprocessing

In [6]:
rawData.drop(columns = "Unnamed: 0", inplace = True)
rawData.head()

,date,total_cases,new_cases,population,population_density,median_age,aged_65_older
0,2020-03-05,2,2,3280815,68.496,42.5,16.569
1,2020-03-06,2,0,3280815,68.496,42.5,16.569
2,2020-03-07,3,1,3280815,68.496,42.5,16.569
3,2020-03-08,3,0,3280815,68.496,42.5,16.569
4,2020-03-09,3,0,3280815,68.496,42.5,16.569

In [7]:
bihdata = pd.read_excel(os.path.join("../dataSet/rawData/", "bih.xlsx"), engine='openpyxl')
bihdata.drop(columns = "Unnamed: 0", inplace = True)
bihdata.head()

,Datum,Potvrđeni slučajevi,Broj testiranih,Broj smrtnih slučajeva,Broj oporavljenih osoba,Broj aktivnih slučajeva
0,29.12.2020,110454,509067,4024,76802,29628.0
1,28.12.2020,109911,505681,3976,76121,29814.0
2,27.12.2020,109691,503906,3953,75717,30021.0
3,26.12.2020,109330,502063,3923,75124,30283.0
4,25.12.2020,108891,499883,3901,74667,30323.0

In [8]:
for index in range(0, len(bihdata["Broj testiranih"])):    
    if index == len(bihdata["Broj testiranih"]) - 2:
        i, j = index, len(bihdata["Broj testiranih"]) - 1
        print(f"{bihdata.iloc[index, 0]}\t {bihdata.iloc[i, 2] - bihdata.iloc[j, 2]}")
        break
    else:
        i, j = index, index + 1
        print(f"{bihdata.iloc[index, 0]}\t {bihdata.iloc[i, 2] - bihdata.iloc[j, 2]}")

29.12.2020	 3386
28.12.2020	 1775
27.12.2020	 1843
26.12.2020	 2180
25.12.2020	 2958
24.12.2020	 3261
23.12.2020	 3054
22.12.2020	 3339
21.12.2020	 1843
20.12.2020	 2375
19.12.2020	 2840
18.12.2020	 3289
17.12.2020	 3624
16.12.2020	 3555
15.12.2020	 3319
14.12.2020	 1286
13.12.2020	 2022
12.12.2020	 2941
11.12.2020	 3360
10.12.2020	 3979
09.12.2020	 9431
08.12.2020	 3596
07.12.2020	 1754
06.12.2020	 2262
05.12.2020	 2815
04.12.2020	 4158
03.12.2020	 3810
02.12.2020	 3477
01.12.2020	 3428
30.11.2020	 1553
29.11.2020	 1698
28.11.2020	 3252
27.11.2020	 3180
26.11.2020	 2757
25.11.2020	 3929
24.11.2020	 3578
23.11.2020	 1449
22.11.2020	 1969
21.11.2020	 3823
20.11.2020	 4139
19.11.2020	 3614
18.11.2020	 4549
17.11.2020	 3725
16.11.2020	 2390
15.11.2020	 2334
14.11.2020	 3773
13.11.2020	 3854
12.11.2020	 5014
11.11.2020	 5579
10.11.2020	 5375
09.11.2020	 2366
08.11.2020	 2797
07.11.2020	 4442
06.11.2020	 4694
05.11.2020	 5171
04.11.2020	 4456
03.11.2020	 2816
02.11.2020	 1618
01.11.2020	 2948
31.10.2020	 3956
30.10.2020	 3845
29.10.2020	 4328
28.10.2020	 3717
27.10.2020	 3080
26.10.2020	 1848
25.10.2020	 2504
24.10.2020	 2686
23.10.2020	 2966
22.10.2020	 3056
21.10.2020	 -56
20.10.2020	 5667
19.10.2020	 5529
16.10.2020	 2525
15.10.2020	 2326
14.10.2020	 2511
13.10.2020	 2140
12.10.2020	 4900
09.10.2020	 2192
08.10.2020	 2281
07.10.2020	 2104
06.10.2020	 2185
05.10.2020	 3764
02.10.2020	 1800
01.10.2020	 2181
30.09.2020	 2081
29.09.2020	 2349
28.09.2020	 3827
25.09.2020	 1971
24.09.2020	 2060
23.09.2020	 2258
22.09.2020	 2115
21.09.2020	 4291
18.09.2020	 2233
17.09.2020	 2349
16.09.2020	 2150
15.09.2020	 2217
14.09.2020	 9086
11.09.2020	 582
10.09.2020	 521
09.09.2020	 615
08.09.2020	 2014
07.09.2020	 2153
05.09.2020	 1518
04.09.2020	 2284
03.09.2020	 1785
02.09.2020	 2038
01.09.2020	 2201
31.08.2020	 1407
30.08.2020	 1151
29.08.2020	 1484
28.08.2020	 1900
27.08.2020	 1938
26.08.2020	 1774
25.08.2020	 1971
24.08.2020	 6046
20.08.2020	 1888
19.08.2020	 2092
18.08.2020	 1734
17.08.2020	 3534
14.08.2020	 2027
13.08.2020	 1539
12.08.2020	 1571
11.08.2020	 2130
10.08.2020	 4256
07.08.2020	 1067
06.08.2020	 1464
05.08.2020	 1586
04.08.2020	 1569
03.08.2020	 3061
31.07.2020	 1739
30.07.2020	 1844
29.07.2020	 1596
28.07.2020	 1518
27.07.2020	 3713
24.07.2020	 1631
23.07.2020	 1784
22.07.2020	 1474
21.07.2020	 6142
17.07.2020	 3558
15.07.2020	 2808
13.07.2020	 3526
10.07.2020	 1796
09.07.2020	 1871
08.07.2020	 1628
07.07.2020	 1329
06.07.2020	 3650
03.07.2020	 1851
02.07.2020	 1759
01.07.2020	 1157
30.06.2020	 1177
29.06.2020	 3244
26.06.2020	 1130
25.06.2020	 1145
24.06.2020	 1315
23.06.2020	 1324
22.06.2020	 2604
19.06.2020	 916
18.06.2020	 1035
17.06.2020	 770
16.06.2020	 815
15.06.2020	 2323
12.06.2020	 792
11.06.2020	 1000
10.06.2020	 865
09.06.2020	 694
08.06.2020	 2166
05.06.2020	 948
04.06.2020	 754
03.06.2020	 1230
02.06.2020	 822
01.06.2020	 680
31.05.2020	 597
30.05.2020	 1027
29.05.2020	 1029
28.05.2020	 1456
27.05.2020	 583
26.05.2020	 594
25.05.2020	 402
24.05.2020	 838
23.05.2020	 1187
22.05.2020	 510
21.05.2020	 1373
20.05.2020	 1636
19.05.2020	 2668
18.05.2020	 1488
17.05.2020	 1304
16.05.2020	 1379
15.05.2020	 1339
14.05.2020	 1430
13.05.2020	 929
12.05.2020	 1133
11.05.2020	 1036
10.05.2020	 1293
09.05.2020	 1198
08.05.2020	 604
07.05.2020	 1695
06.05.2020	 1196
05.05.2020	 918
04.05.2020	 450
03.05.2020	 1145
02.05.2020	 605
01.05.2020	 1385
30.04.2020	 1663
29.04.2020	 1527
28.04.2020	 781
27.04.2020	 992
26.04.2020	 1154
25.04.2020	 1908
24.04.2020	 1336
23.04.2020	 1307
22.04.2020	 930
21.04.2020	 837
20.04.2020	 540
19.04.2020	 950
18.04.2020	 1117
17.04.2020	 1008
16.04.2020	 1404
15.04.2020	 932
14.04.2020	 795
13.04.2020	 637
12.04.2020	 794
11.04.2020	 782
10.04.2020	 1028
09.04.2020	 874
08.04.2020	 478
07.04.2020	 590
06.04.2020	 609
05.04.2020	 602
04.04.2020	 590
03.04.2020	 645

In [10]:
arrayNegative = pd.DataFrame(columns = ["Datum", "Broj oporavljenih osoba"])
for index in range(0, len(bihdata["Broj oporavljenih osoba"])):    
    if index == len(bihdata["Broj testiranih"]) - 2:
        i, j = index, len(bihdata["Broj testiranih"]) - 1
        print(f"{bihdata.iloc[index, 0]}\t {bihdata.iloc[i, 4] - bihdata.iloc[j, 4]}")
        arrayNegative = arrayNegative.append(
            {"Datum": bihdata.iloc[index, 0], "Broj oporavljenih osoba": bihdata.iloc[i, 4] - bihdata.iloc[j, 4]},
            ignore_index = True)
        break
    else:
        i, j = index, index + 1
        arrayNegative = arrayNegative.append(
            {"Datum": bihdata.iloc[index, 0], "Broj oporavljenih osoba": bihdata.iloc[i, 4] - bihdata.iloc[j, 4]},
            ignore_index = True)
        print(f"{bihdata.iloc[index, 0]}\t {bihdata.iloc[i, 4] - bihdata.iloc[j, 4]}")

29.12.2020	 681
28.12.2020	 404
27.12.2020	 593
26.12.2020	 457
25.12.2020	 771
24.12.2020	 747
23.12.2020	 552
22.12.2020	 1049
21.12.2020	 654
20.12.2020	 274
19.12.2020	 371
18.12.2020	 754
17.12.2020	 1250
16.12.2020	 596
15.12.2020	 1163
14.12.2020	 728
13.12.2020	 469
12.12.2020	 1556
11.12.2020	 1141
10.12.2020	 1270
09.12.2020	 1112
08.12.2020	 722
07.12.2020	 863
06.12.2020	 591
05.12.2020	 489
04.12.2020	 1495
03.12.2020	 1083
02.12.2020	 1243
01.12.2020	 955
30.11.2020	 1290
29.11.2020	 411
28.11.2020	 1067
27.11.2020	 1221
26.11.2020	 570
25.11.2020	 685
24.11.2020	 1765
23.11.2020	 1344
22.11.2020	 623
21.11.2020	 877
20.11.2020	 1885
19.11.2020	 1145
18.11.2020	 1226
17.11.2020	 2187
16.11.2020	 867
15.11.2020	 245
14.11.2020	 870
13.11.2020	 801
12.11.2020	 921
11.11.2020	 508
10.11.2020	 1039
09.11.2020	 283
08.11.2020	 285
07.11.2020	 684
06.11.2020	 281
05.11.2020	 300
04.11.2020	 233
03.11.2020	 589
02.11.2020	 373
01.11.2020	 111
31.10.2020	 213
30.10.2020	 290
29.10.2020	 493
28.10.2020	 184
27.10.2020	 361
26.10.2020	 83
25.10.2020	 91
24.10.2020	 108
23.10.2020	 271
22.10.2020	 210
21.10.2020	 219
20.10.2020	 118
19.10.2020	 839
16.10.2020	 247
15.10.2020	 282
14.10.2020	 297
13.10.2020	 190
12.10.2020	 346
09.10.2020	 302
08.10.2020	 325
07.10.2020	 340
06.10.2020	 242
05.10.2020	 924
02.10.2020	 161
01.10.2020	 331
30.09.2020	 294
29.09.2020	 317
28.09.2020	 498
25.09.2020	 365
24.09.2020	 508
23.09.2020	 275
22.09.2020	 250
21.09.2020	 744
18.09.2020	 146
17.09.2020	 229
16.09.2020	 289
15.09.2020	 535
14.09.2020	 494
11.09.2020	 399
10.09.2020	 65
09.09.2020	 36
08.09.2020	 342
07.09.2020	 194
05.09.2020	 160
04.09.2020	 356
03.09.2020	 494
02.09.2020	 191
01.09.2020	 340
31.08.2020	 127
30.08.2020	 110
29.08.2020	 125
28.08.2020	 253
27.08.2020	 144
26.08.2020	 255
25.08.2020	 220
24.08.2020	 980
20.08.2020	 170
19.08.2020	 432
18.08.2020	 423
17.08.2020	 512
14.08.2020	 188
13.08.2020	 329
12.08.2020	 416
11.08.2020	 252
10.08.2020	 786
07.08.2020	 331
06.08.2020	 203
05.08.2020	 247
04.08.2020	 233
03.08.2020	 400
31.07.2020	 373
30.07.2020	 145
29.07.2020	 221
28.07.2020	 290
27.07.2020	 375
24.07.2020	 188
23.07.2020	 208
22.07.2020	 157
21.07.2020	 390
17.07.2020	 277
15.07.2020	 156
13.07.2020	 142
10.07.2020	 222
09.07.2020	 46
08.07.2020	 76
07.07.2020	 95
06.07.2020	 48
03.07.2020	 25
02.07.2020	 93
01.07.2020	 30
30.06.2020	 36
29.06.2020	 28
26.06.2020	 16
25.06.2020	 25
24.06.2020	 12
23.06.2020	 15
22.06.2020	 29
19.06.2020	 22
18.06.2020	 22
17.06.2020	 19
16.06.2020	 16
15.06.2020	 43
12.06.2020	 19
11.06.2020	 37
10.06.2020	 14
09.06.2020	 26
08.06.2020	 55
05.06.2020	 17
04.06.2020	 12
03.06.2020	 29
02.06.2020	 22
01.06.2020	 26
31.05.2020	 31
30.05.2020	 28
29.05.2020	 22
28.05.2020	 37
27.05.2020	 23
26.05.2020	 25
25.05.2020	 16
24.05.2020	 18
23.05.2020	 48
22.05.2020	 1474
21.05.2020	 4
20.05.2020	 2
19.05.2020	 1
18.05.2020	 0
17.05.2020	 4
16.05.2020	 1
15.05.2020	 6
14.05.2020	 2
13.05.2020	 3
12.05.2020	 4
11.05.2020	 6
10.05.2020	 5
09.05.2020	 4
08.05.2020	 8
07.05.2020	 4
06.05.2020	 7
05.05.2020	 1
04.05.2020	 1
03.05.2020	 5
02.05.2020	 2
01.05.2020	 1
30.04.2020	 4
29.04.2020	 2
28.04.2020	 3
27.04.2020	 1
26.04.2020	 2
25.04.2020	 2
24.04.2020	 1
23.04.2020	 1
22.04.2020	 2
21.04.2020	 2
20.04.2020	 1
19.04.2020	 1
18.04.2020	 1
17.04.2020	 3
16.04.2020	 2
15.04.2020	 1
14.04.2020	 1
13.04.2020	 1
12.04.2020	 1
11.04.2020	 1
10.04.2020	 1
09.04.2020	 1
08.04.2020	 4
07.04.2020	 1
06.04.2020	 8
05.04.2020	 0
04.04.2020	 3
03.04.2020	 3

In [22]:
rawData["date"]  = rawData["date"].astype("datetime64")

In [23]:
rawData["date"] = pd.to_datetime(rawData["date"], format = "%d-%m-%Y", errors = 'ignore')

In [24]:
rawData

,date,total_cases,new_cases,population,population_density,median_age,aged_65_older
0,2020-03-05,2,2,3280815,68.496,42.5,16.569
1,2020-03-06,2,0,3280815,68.496,42.5,16.569
2,2020-03-07,3,1,3280815,68.496,42.5,16.569
3,2020-03-08,3,0,3280815,68.496,42.5,16.569
4,2020-03-09,3,0,3280815,68.496,42.5,16.569
...,...,...,...,...,...,...,...
296,2020-12-26,109330,439,3280815,68.496,42.5,16.569
297,2020-12-27,109691,361,3280815,68.496,42.5,16.569
298,2020-12-28,109911,220,3280815,68.496,42.5,16.569
299,2020-12-29,110454,543,3280815,68.496,42.5,16.569
300,2020-12-30,110985,531,3280815,68.496,42.5,16.569

In [29]:
formatted_dates =[]

for old_date in rawData['date']:

    dt_obj = dt.datetime.strptime(str(old_date),'%Y-%m-%d')

    new_date = """{}/{}/{}""".format(dt_obj.day,dt_obj.month,dt_obj.year)

    formatted_dates.append(new_date)

rawData['Date'] = formatted_dates

ValueError: unconverted data remains:  00:00:00