# Analysing the COVID-19 pandemic in Bosnia and Herzegovina

The analysie will be preformed on a dataset gathered from the <a href="https://www.who.int/">WHO</a> website. The first part of this analysis will be data cleaning, wich is the most important part of data analysis. You know how they say it if the data is not clean we get garbage in and garbage out.

The next part will contain visualizations to get a more understanding picture of the situation so we can preform some statistical methods later. 

After we finished the data cleaning and visualization process will continue on data modeling so we can make predictions in the later part when we will actualy use our data to make predictions on how the situation will improve or not in the future.

When all of this is set and done we will make the conclusion and suggest how things can be done in the future to improve the situation.

## Table of Contetn's

* [Importing the nececery Libraries](#importing-the-nececery-libraries)
* [Data import and exploration](#data-import-and-exploration)

## Importing the nececery Libraries

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

## Data import and exploration

In [2]:
rawData = pd.read_excel(os.path.join("../dataSet/rawData/", "bih.xlsx"), engine='openpyxl')

In [4]:
rawData.head(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,BIH,Europe,Bosnia and Herzegovina,2020-03-05,2,2,NaN,NaN,NaN,NaN,...,11713.895,0.2,329.635,10.08,30.2,47.7,97.164,3.5,77.4,0.768
1,BIH,Europe,Bosnia and Herzegovina,2020-03-06,2,0,NaN,NaN,NaN,NaN,...,11713.895,0.2,329.635,10.08,30.2,47.7,97.164,3.5,77.4,0.768
2,BIH,Europe,Bosnia and Herzegovina,2020-03-07,3,1,NaN,NaN,NaN,NaN,...,11713.895,0.2,329.635,10.08,30.2,47.7,97.164,3.5,77.4,0.768
3,BIH,Europe,Bosnia and Herzegovina,2020-03-08,3,0,NaN,NaN,NaN,NaN,...,11713.895,0.2,329.635,10.08,30.2,47.7,97.164,3.5,77.4,0.768
4,BIH,Europe,Bosnia and Herzegovina,2020-03-09,3,0,NaN,NaN,NaN,NaN,...,11713.895,0.2,329.635,10.08,30.2,47.7,97.164,3.5,77.4,0.768

In [5]:
rawData.info() # checking the datatype of each column, the null valuse

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295 entries, 0 to 294
Data columns (total 52 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   iso_code                            295 non-null    object
 1   continent                           295 non-null    object
 2   location                            295 non-null    object
 3   date                                295 non-null    object
 4   total_cases                         295 non-null    int64
 5   new_cases                           295 non-null    int64
 6   new_cases_smoothed                  290 non-null    float64
 7   total_deaths                        279 non-null    float64
 8   new_deaths                          279 non-null    float64
 9   new_deaths_smoothed                 290 non-null    float64
 10  total_cases_per_million             295 non-null    float64
 11  new_cases_per_million               295 non-null    float64
 12  new_cases_smoothed_per_million      290 non-null    float64
 13  total_deaths_per_million            279 non-null    float64
 14  new_deaths_per_million              279 non-null    float64
 15  new_deaths_smoothed_per_million     290 non-null    float64
 16  reproduction_rate                   257 non-null    float64
 17  icu_patients                        0 non-null      float64
 18  icu_patients_per_million            0 non-null      float64
 19  hosp_patients                       0 non-null      float64
 20  hosp_patients_per_million           0 non-null      float64
 21  weekly_icu_admissions               0 non-null      float64
 22  weekly_icu_admissions_per_million   0 non-null      float64
 23  weekly_hosp_admissions              0 non-null      float64
 24  weekly_hosp_admissions_per_million  0 non-null      float64
 25  new_tests                           0 non-null      float64
 26  total_tests                         0 non-null      float64
 27  total_tests_per_thousand            0 non-null      float64
 28  new_tests_per_thousand              0 non-null      float64
 29  new_tests_smoothed                  0 non-null      float64
 30  new_tests_smoothed_per_thousand     0 non-null      float64
 31  positive_rate                       0 non-null      float64
 32  tests_per_case                      0 non-null      float64
 33  tests_units                         0 non-null      float64
 34  total_vaccinations                  0 non-null      float64
 35  total_vaccinations_per_hundred      0 non-null      float64
 36  stringency_index                    288 non-null    float64
 37  population                          295 non-null    int64
 38  population_density                  295 non-null    float64
 39  median_age                          295 non-null    float64
 40  aged_65_older                       295 non-null    float64
 41  aged_70_older                       295 non-null    float64
 42  gdp_per_capita                      295 non-null    float64
 43  extreme_poverty                     295 non-null    float64
 44  cardiovasc_death_rate               295 non-null    float64
 45  diabetes_prevalence                 295 non-null    float64
 46  female_smokers                      295 non-null    float64
 47  male_smokers                        295 non-null    float64
 48  handwashing_facilities              295 non-null    float64
 49  hospital_beds_per_thousand          295 non-null    float64
 50  life_expectancy                     295 non-null    float64
 51  human_development_index             295 non-null    float64
dtypes: float64(45), int64(3), object(4)
memory usage: 120.0+ KB

In [6]:
rawData.describe() # fast overview of statistical methods for each column

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
count,295.000000,295.000000,290.000000,279.000000,279.000000,290.000000,295.000000,295.000000,290.000000,279.000000,...,2.950000e+02,2.950000e+02,295.000,2.950000e+02,2.950000e+02,2.950000e+02,2.950000e+02,295.0,2.950000e+02,2.950000e+02
mean,24675.901695,367.111864,366.991134,799.254480,13.899642,12.831021,7521.271881,111.896539,111.859741,243.614634,...,1.171390e+04,2.000000e-01,329.635,1.008000e+01,3.020000e+01,4.770000e+01,9.716400e+01,3.5,7.740000e+01,7.680000e-01
std,31097.145848,471.330933,443.094660,974.956282,19.495728,17.385453,9478.481957,143.662758,135.056260,297.168914,...,1.822080e-12,5.560548e-17,0.000,1.779375e-15,1.067625e-14,1.423500e-14,1.423500e-14,0.0,2.847000e-14,1.112110e-16
min,2.000000,0.000000,0.714000,1.000000,0.000000,0.000000,0.610000,0.000000,0.218000,0.305000,...,1.171390e+04,2.000000e-01,329.635,1.008000e+01,3.020000e+01,4.770000e+01,9.716400e+01,3.5,7.740000e+01,7.680000e-01
25%,2297.000000,26.500000,43.714000,153.000000,1.000000,1.749750,700.131000,8.077500,13.324000,46.635000,...,1.171390e+04,2.000000e-01,329.635,1.008000e+01,3.020000e+01,4.770000e+01,9.716400e+01,3.5,7.740000e+01,7.680000e-01
50%,11444.000000,211.000000,229.429000,394.000000,5.000000,6.143000,3488.158000,64.313000,69.930000,120.092000,...,1.171390e+04,2.000000e-01,329.635,1.008000e+01,3.020000e+01,4.770000e+01,9.716400e+01,3.5,7.740000e+01,7.680000e-01
75%,30742.000000,434.500000,358.928750,976.000000,14.000000,10.214500,9370.232500,132.437000,109.402500,297.487000,...,1.171390e+04,2.000000e-01,329.635,1.008000e+01,3.020000e+01,4.770000e+01,9.716400e+01,3.5,7.740000e+01,7.680000e-01
max,108298.000000,1953.000000,1612.857000,3878.000000,86.000000,59.000000,33009.481000,595.279000,491.603000,1182.023000,...,1.171390e+04,2.000000e-01,329.635,1.008000e+01,3.020000e+01,4.770000e+01,9.716400e+01,3.5,7.740000e+01,7.680000e-01